/* GOOGLE FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* ----- VARIABLES ------ */
:root {
  --header-height: 3rem;

  /* colors */
  --first-color: #CE1212;
  --first-color-alt: #27a2ca;
  --title-color: #393939;
  --text-color: #333333;
  --text-color-light: #a6a6a6;
  --body-color: #fcfcfc;
  --container-color: #fff;

  /* font & typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-tooltop: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ----- BASE STYLINGS ----- */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ------------------- DARK THEME VARIABLES -------------*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/* ------------------- DARK/LIGHT BUTTON -------------*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----- DARK THEME VARIABLES ----- */
/* ----- BUTTON LIGHT/DARK ----- */
/* ----- BASE CLASSES ----- */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.about__initial {
  text-align: initial;
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: 0;
}

.section-sub2 {
  font-size: 9px;
  margin-top: -0.5rem;
}

.testimonial-desc {
  font-style: italic;
}

/* ----- LAYOUT ----- */
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* ----- NAV ----- */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.4rem;
  cursor: pointer;
}

.nav__logo {
  width: 40%;
  /* padding-top: 3rem; */
}

/* show menu */
.show-menu {
  top: var(--header-height);
}

/* Active link*/
.active-link {
  color: var(--first-color);
}

/* Change header's background on scroll*/
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll to top*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--first-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltop);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scroll top*/
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/* -------------------- BUTTONS -------------------------*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
}

.button-outline {
  border: 2px solid var(--first-color);
  background-color: #fff;
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* -------------------- ABOUT -------------------------*/

.desc {
  font-size: 12px;
  text-align: justify;
}

input,
textarea {
  background-color: #eeebdd;
  padding: 0.8rem 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.input-wrap {
  margin: 2rem 0;
}

.checkbox-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  margin-bottom: 5rem;
  padding: 0;
}

.details {
  margin-top: 5rem;
}

.wrap h4 {
  margin-bottom: -0.5rem;
}

/* -------------------- FOOTER -------------------------*/
.footer {
  /* background-color: var(--first-color); */
  width: 100%;
}

footer {
  width: 100%;
  background-color: #EEEBDD;
  color: #1B1717;
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 40%;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

.footer__description {
  display: block;
  font-size: var(--smaller-font-size);
  margin: 0.25rem 0 var(--mb-3);
  text-align: justify;
}

.footer__social {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  margin-top: 2rem;
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 1rem;
}

.footer__content ul li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

a{
  color: #000;
}

/* -------------------- MEDIA QUERIES -------------------------*/
/*these will be applied for screens larger than 576px*/
@media screen and (min-width: 576px) {
  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    column-gap: 5rem;
  }

  .contact__button {
    justify-self: center;
  }
}

/*these will be applied for screens larger than 768px*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .about__container {
    grid-template-columns: auto;
  }

  .details {
    display: flex;
    justify-content: space-between;
  }

  .details .wrap {
    width: 30%;
    text-align: center;
    margin-top: 2rem;
  }

  .details .wrap .desc {
    text-align: center;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
  }

  footer {
    margin-top: 0rem;
  }

  .footer__logo {
    width: 30%;
  }

  .about__data {
    width: 80%;
    margin: 0 auto;
  }

  .desc {
    font-size: 16px;
    text-align: justify;
  }
}

/*these will be applied for screens larger than 960px*/
@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }

  .content-wrap {
    width: 60%;
    margin-left: auto;
  }

  .about__data {
    position: relative;
  }

  .details {
    position: absolute;
    top: 10%;
    flex-direction: column;
  }

  .details .wrap {
    width: 80%;
    text-align: left;
  }

  .details .wrap .desc {
    text-align: left;
  }

  .footer__container {
    padding-top: 0rem;
    margin-top: 0;
  }
}

/*---------------------------------------NAVIGATION----------------------------------*/
.wrapper {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo a {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: var(--first-color);
  color: #fff;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #333;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #fff;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

.content .links li a.active-link {
  color: var(--first-color);
}

/* Responsive code start */
/* for sizes smaller than 1250px*/
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
    box-shadow: 0 4px 2px -2px rgba(206, 206, 206, 0.2);
  }

  nav .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .content .logo img {
    width: 100%;
    height: 100%;
  }

  nav .content .logo {
    width: 20%;
  }

  nav .content .links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .content .links li a {
    font-size: 12px;
  }
}

/* for sizes smaller than 768px -- iPad and above*/
/* hide nav links, start responsive menu*/
@media screen and (max-width: 765px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

/* for sizes smaller than 400px*/
@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }

  nav .content {
    justify-content: space-between;
  }

  .logo {
    padding-right: 0;
  }
}

/* -------------------- MEDIA QUERIES -------------------------*/
/*these will be applied for screens larger than 576px*/
@media screen and (min-width: 576px) {

  .about__data,
  .about__initial {
    text-align: initial;
  }

  .about__img {
    width: 380px;
    order: -1;
  }

  .about__data {
    width: 90%;
    margin: 0 auto;
  }

  .about__container h2{
    text-align: center;
    font-size: 40px;
  }

  .main-desc{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
  }

  .main-desc br{
    display: none;
  }

  .details{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    padding-left: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .footer__container .footer__logo{
    height: 30%;
    width: 35%;
  }

  .footer-description{
    text-align: justify;
    width: 100%;
  }
}

/*these will be applied for screens larger than 768px*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .wrapper{
    align-items: center;
    background-color: #040707;
  }

  .wrapper .links li a{
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
  }

  .wrapper .logo .footer__logo{
    padding-top: 3rem;
    width: 60%;
  }

  .about__data{
    width: 100%;
  }

  .details{
    display: flex;
    width: 100%;
  }

  .main-desc{
    text-align: center;
    font-style: italic;
  }

  .wrap{
    width: 100%;
  }

  .wrap h4 {
    margin-bottom: -0.5rem;
  }

  .email-wrap{
    margin-left: -2rem;
  }

  .card-desc {
    font-size: 16px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    width: 80%;
  }

  .services__container .test-container {
    height: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  .footer {
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .footer__logo {
    width: 35%;
  }

  .footer-links{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    margin-top: 3rem;
  }

  .footer-links2{
    display: flex;
    justify-content: space-between;
  }

  .footer__container {
    row-gap: 2rem;
    padding-top: 0;
  }

  .footer__title{
    margin-top: 0;
  }

  .footer__social {
    font-size: 3rem;
  }
}

/*these will be applied for screens larger than 960px - laptop*/
@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }

  .card-1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card-1 .img-wrap,
  .card-2 .img-wrap {
    width: 30%;
  }
  .card-1 .text-wrap,
  .card-2 .text-wrap {
    width: 50%;
  }

  .card-1 .text-wrap .card-desc,
  .card-2 .text-wrap .card-desc {
    font-size: 14px;
  }

  .card-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-2 .text-wrap {
    order: 1;
  }

  .card-2 .text-wrap h2 {
    text-align: left;
  }

  .card-2 .img-wrap {
    order: 2;
  }

  .expert .text-wrap h2 {
    text-align: center;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
  }
}
