/* GOOGLE FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* ----- VARIABLES ------ */
:root {
  --header-height: 5rem;

  /* colors */
  --first-color: #CE1212;
  --first-color-alt: #27a2ca;
  --title-color: #393939;
  --text-color: #333333;
  --text-color-light: #a6a6a6;
  --body-color: #fcfcfc;
  --container-color: #fff;

  /* font & typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-tooltop: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ----- BASE STYLINGS ----- */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ------------------- DARK THEME VARIABLES -------------*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/* ------------------- DARK/LIGHT BUTTON -------------*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----- DARK THEME VARIABLES ----- */
/* ----- BUTTON LIGHT/DARK ----- */
/* ----- BASE CLASSES ----- */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.about__initial {
  text-align: initial;
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: 0;
  font-size: 12px;
}

.section-sub2 {
  font-size: 9px;
  margin-top: -0.5rem;
}

.testimonial-desc {
  font-style: italic;
}

/* ----- LAYOUT ----- */
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 768px){
  .bd-container {
    max-width: 100%;
  }
}

/* ----------------------START OF MENU-------------------------*/
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #040707;
}

/* ----- NAV -----*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding-top: 1.5rem;
      text-align: center;
      background-color: #000;
      transition: .4s;
      border-radius: 0 0 1rem 1rem;
  }
}

.nav__item{
  margin-bottom: var(--mb-3);
  color: #fff;
}

.nav__link{
  color: var(--first-color-lighten);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color-light);
}

.nav__logo img{
  width: 100%;
  height: 100%;
}
.nav__logo{
  width: 15%;
}

.nav__logo, .nav__toggle{
  color: var(--first-color-lighten);
  color: #fff;
  font-size: 1.2rem;
}

.nav_toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* show menu*/
.show-menu{
  top: var(--header-height);
}

/* Active menu*/
.active-link{
  position: relative;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--first-color-light);
  background-color: var(--first-color);
}
/* ----------------------END OF MENU-------------------------*/

/* Scroll to top*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--first-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltop);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scroll top*/
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/* -------------------- ABOUT company -------------------------*/

.card-1 {
  display: flex;
  flex-direction: column;
}

.card-2 {
  margin-top: 3rem;
}

.img-wrap {
  width: 80%;
  margin: 0 auto;
}

.card-2 .img-wrap {
  width: 80%;
}

.text-wrap {
  padding: 0 0rem;
}
.card-desc {
  text-align: justify;
  font-size: 12px;
}

/* -------------------- mission -------------------------*/
.mission{
  padding-top: 1rem;
}


.card{
  /*border: 2px solid #e7e7e7;*/
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-description{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: var(--small-font-size);
}

/* -------------------- FOOTER -------------------------*/
.footer {
  /* background-color: var(--first-color); */
  width: 100%;
}

footer {
  width: 100%;
  background-color: #EEEBDD;
  color: #1B1717;
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 40%;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

.footer__description {
  display: block;
  font-size: var(--smaller-font-size);
  margin: 0.25rem 0 var(--mb-3);
  text-align: justify;
}

.footer__social {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  margin-top: 2rem;
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 1rem;
}

.footer__content ul li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

a{
  color: #000;
}

.section-title{
  text-align: center;
}

/* -------------------- MEDIA QUERIES -------------------------*/
/*these will be applied for screens larger than 576px*/
@media screen and (min-width: 576px) {
  /* .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  } */

  .nav__logo{
    width: 10%;
  }

  .about__data,
  .about__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .about__data {
    width: 90%;
    margin: 0 auto;
  }

  .about__container h2, 
  .mission h2{
    text-align: center;
    font-size: 40px;
  }

  .mission{
    margin-top: 3rem;
  }

  .card-desc{
    font-size: 14px;
    margin-top: 2rem;
  }

  .mission-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card{
    height: 20vh;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }

  .footer__container .footer__logo{
    width: 35%;
  }

  .footer-description{
    text-align: justify;
    width: 100%;
  }

  .footer__social {
    font-size: 2.5rem;
    margin-top: 3rem;
    /* margin-right: var(--mb-2); */
  }

  .social{
    justify-content: space-around;
    margin-top: 5rem;
    width: 60%;
    margin: 0 auto;
  }
}

/*these will be applied for screens larger than 768px*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  
  .nav__list{
      display: flex;
  }
  .nav__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
  }
  .nav__toggle{
      display: none;
  }

  .nav__logo{
    width: 10%;
  }

  .wrapper{
    align-items: center;
    background-color: #040707;
    height: 10vh;
  }

  .wrapper .links li a{
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
  }

  .mission{
    padding-top: 0;
  }

  .card-desc {
    font-size: 16px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    width: 80%;
  }

  .services__container .test-container {
    height: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  footer {
    margin-top: 3rem;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    width: 80%;
  }

  .footer-description{
    text-align: justify;
    width: 100%;
    font-size: var(--normal-font-size);
  }

  .footer-links{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    margin-top: 3rem;
  }

  .footer-links2{
    display: flex;
    justify-content: space-between;
  }

  .footer__container {
    row-gap: 2rem;
    padding-top: 0;
  }

  .footer__title{
    margin-top: 0;
    font-size: 18px;
  }

  .footer__social {
    font-size: 2.5rem;
  }

  .footer {
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .footer__content .container{
    width: 50%;
  }

  .footer__logo {
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  .footer__container .footer__logo{
    width: 20%;
  }

  .social{
    justify-content: space-around;
    margin-top: 5rem;
    width: 50%;
    margin: 0 auto;
  }
}

/*these will be applied for screens larger than 960px - laptop*/
@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header{
    padding: 0 2rem;
  }

  .nav .nav__logo{
    width: 9%;
  }

  .about{
    width: 70%;
    margin: 0 auto;
  }

  .about .card-desc{
    font-size: .85rem;
  }

  .mission .mission-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mission .wrap{
    width: 20%;
  }
  .mission{
    margin-bottom: 2rem;
  }

  .card{
    border: 2px solid #e7e7e7;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: none;
  }

  .card-description{
    font-size: .85rem;
  }

  .footer__container .footer__logo{
    width: 15%;
    padding-bottom: 0;
  } 

  .footer p{
    text-align: justify;
    width: 100%;
    font-size: .85rem;
  }

  .footer #br2{
    display: none;
  }

  .footer__content ul li,
  .footer__content .footer-link{
    font-size: .85rem;
  }

  .social{
    height: auto;
    width: 20%;
  }

  .footer__social {
    font-size: 2rem;
    margin-right: var(--mb-2);
  }

  footer .footer__copy{
    text-align: center;
  }

  /* main{
    background-color: hotpink;
  }

  .mission{
    background-color: honeydew;
    width: 100%;
  }

  .mission-wrap {
    display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: grey;
   Width: 100%;
  } */

  /* .about__container,
  .app__container {
    column-gap: 7rem;
  }

  .card-1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card-1 .img-wrap,
  .card-2 .img-wrap {
    width: 30%;
  }
  .card-1 .text-wrap,
  .card-2 .text-wrap {
    width: 50%;
  }

  .card-1 .text-wrap .card-desc,
  .card-2 .text-wrap .card-desc {
    font-size: 14px;
  }

  .card-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-2 .text-wrap {
    order: 1;
  }

  .card-2 .text-wrap h2 {
    text-align: left;
  }

  .card-2 .img-wrap {
    order: 2;
  }

  .expert .text-wrap h2 {
    text-align: center;
  } */

  /* .footer__container {
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
  } */
}

/*these will be applied for screens larger than 960px -- LAPTOPS*/
@media screen and (min-width: 1400px) {
  .l-header{
    padding: 0 2rem;
    height: 8rem;
  }

  .nav .nav__logo{
    width: 8%;
  }

  footer .footer__container{
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  footer .footer__container .footer__logo{
    width: 30%;
    height: auto;
  }

  footer .footer__container .footer-description{
    width: 80%;
    line-height: 2.2;
    text-align: justify;
    font-size: .8rem;
  }

  footer .footer__container .footer__content,
  footer .footer__container .footer-links,
  footer .footer__container .footer-links2{
    width: 20%;
    margin-top: 0;
  }

  footer .footer__container .footer-links .footer__content,
  footer .footer__container .footer-links2 .footer__content{
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }


  footer .footer__container .social{
    width: 8%;
    height: auto;
    align-items: flex-start;
  }


  footer .footer__container .footer-links,
  footer .footer__container .footer-links2{
    display: grid;
    grid-template-columns: auto;
  }
}